{% extends "base.html" %}
{% load static %}

{% block content %}
{{request.user}}
<h1>INDEX PAGE</h1>
<img src="{% static "movies/index.jpg" %}" alt="index_img">
<div class="container" >
    <div class = "row g-5">
    {% for movie in movies %}
        <div class="col-6 ">
            <div class = 'card'>
                <div class="card-body">
                    <a href="{% url "movies:detail" movie.pk %}"><h5 class="card-title">{{movie.title}}</h5></a>
                    {% comment %} <p class="card-text">{{movie.description}}</p> {% endcomment %}
                    <p>{{movie.created_at}}</p>
                    <p>좋아요 {{movie.like_users.all|length}}</p>
                    <form action="{% url "movies:likes" movie.pk %}" method="POST">
                        {% csrf_token %}
                        {% if request.user in movie.like_users.all %}
                        <input type="submit" value="좋아요 취소">
                        {% else %}
                        <input type="submit" value="좋아요">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}