{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
        <div class="col">
            <div class="card h-100">
                <img src="{{movie.poster_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
  

{% endblock %}
